<h1>Caisse enregistreuse</h1>

<h2>Total : <%= total %> </h2>
<form action="/panier" method="POST">
    <input type="text" name="fruit" id="fruit">
    <input type="submit" value="Scanner un article">
    <input type="reset" value="Vider le panier">
</form>
<div>
<%= fruit %>

</div>



